<% title = 'Problem' %>
<% copyright = "Copyright(C) 2012. Almond Choco Project(仮)" %>
<h1><%= problem.id %> - <%= problem.title %></h1>

<form action="/problems/<%= problem.id %>/edit" method="post">

  <h2>Description</h2>
  <textarea cols="40" rows="6" wrap="off" name="description"><%= problem.description %></textarea>

  <% for(var i = 0; i < 1; i++) { %>
      <h2>Input<%=i %></h2>
      <textarea cols="40" rows="2" wrap="off" name="input"><%= problem.testCases[i].input %></textarea>

      <h2>Output<%=i %></h2>
      <textarea cols="40" rows="2" wrap="off" name="output"><%= problem.testCases[i].output %></textarea>
  <% } %>

  <br><br>

  <button type="submit">Update</button>

</form>

<%= copyright %>
