<% var data = ["problem"]; %>
<% copyright = "Copyright(C) 2012. Almond Choco Project(仮)" %>

<h1>Almond Choco</h1>
<ul>
  <% for(var i = 0; i < data.length; i++) { %>
    <li>
      <a href='/<%= data[i] %>' ><%= data[i] %></a>
    </li>
  <% } %>
</ul>
<% title = 'Hello, world' %>


<%= copyright %>


<!--
<h1>TEST</h1>
<%- mes %>
<%= mes %>
-->
