<% title = 'Problem' %>
<% description_text = "explain the problem" %>
<% first_message = "write your code" %>
<% input_text = "1 2" %>
<% output_text = "3" %>
<% copyright = "Copyright(C) 2012. Almond Choco Project(仮)" %>
<h1>Problem Sample</h1>

<h2>Description</h2>
<TEXTAREA cols="40" rows="6" wrap="off">
  <%= description_text %>
</TEXTAREA>

<br><br>

<form action="problems/id/run" method="post">
Input:
<br>
<TEXTAREA cols="40" rows="2" wrap="off">
  <%= input_text %>
</TEXTAREA>
<br><br>

Output:
<br>
<TEXTAREA cols="40" rows="2" wrap="off">
  <%= output_text %>
</TEXTAREA>

<br><br>

Code:
<br>
<TEXTAREA cols="40" rows="6" wrap="off">
  <%= first_message %>
</TEXTAREA>

<br>

<BUTTON type="submit">RUN</BUTTON>

<br>

</form>
<%= copyright %>
