<% title = 'Problem' %>
<% copyright = "Copyright(C) 2012. Almond Choco Project(仮)" %>
<h1><%= problem.id %> - <%= problem.title %></h1>

<h2>Description</h2>
<TEXTAREA cols="40" rows="6" wrap="off">
  <%= problem.description %>
</TEXTAREA>

<br><br>

<form action="/problems/<%= problem.id %>/run" method="post">
Input:
<br>
<TEXTAREA cols="40" rows="2" wrap="off" name="input"><%= problem.input %>
</TEXTAREA>
<br><br>

Output:
<br>
<TEXTAREA cols="40" rows="2" wrap="off" name="output"><%= problem.output %>
</TEXTAREA>

<br><br>

Code:
<br>
<TEXTAREA cols="40" rows="6" wrap="off" name="code"><%= "print 3" %>
</TEXTAREA>

<br>

<BUTTON type="submit">RUN</BUTTON>

<br>

</form>
<%= copyright %>
